.temperaturas {
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 20px;
}

.margem {
  margin-bottom: 100px;
}

.padding_topo {
  padding-top: 30px;
}

.m_texto {
  margin-right: 50px;
}

.tam_letra {
  font-size: 25px;
}

.linha {
  line-height: 0px;
}

.inverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


