.fundo-mars {
  background-image: url("../assets/mars-zoom.svg");
  background-size: cover;
}
.fundo-earth {
  background-image: url("../assets/earth-zoom.svg");
  background-size: cover;
}

.textTemperature {
  font-weight: bold;
  font-size: 1.7rem;
}

.color {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.rotation_text {
  transform: rotate(270deg);
}

.padding_cima {
  padding-top: 100px;
}

.margem-baixo {
  padding-bottom: 100px;
}
