/* #mars_bg {
    position: absolute;
    width:100%;
    height: 100%;
    left:65%; 
    background: url(Mars0169.png);
    background-size:contain;
    background-repeat: no-repeat;
    transform: matrix(1, 0, 0, 1, 0, 0);
  } */


#mars_bg {
  float: right;
  height: 100%;
  flex-wrap: wrap;
}

.temperaturas {
  padding-bottom: 60px;
  padding-top: 60px;
}

.margem_esquerda {
  margin-left: 15%;
}

.margem_top {
  margin-top: 120px;
}

.margem_bottom {
  margin-bottom: 100px;
}

