#mars_bg {
  float: right;
  height: 100%;
  flex-wrap: wrap;
}

#earth_bg {
  float: left;
  height: 100%;
  flex-wrap: wrap;
}

.temperaturas {
  padding-bottom: 60px;
  padding-top: 60px;
}

.margem_esquerda {
  margin-left: 5%;
}

.margem_direita {
  margin-right: 5%;
}

.margem_top {
  margin-top: 120px;
}

.margem_bottom {
  margin-bottom: 100px;
}
