.App {
  text-align: center;
}

body {
  background-color: black;
  font-family: 'Dosis', sans-serif;
  color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: radial-gradient(
      34.26% 64.41% at 115.34% 55.82%,
      #1755f4 0%,
      rgba(28, 83, 224, 0) 100%
    ),
    radial-gradient(
      31.74% 42.34% at 44.35% 44.42%,
      #31a8ff 0%,
      rgba(0, 22, 78, 0) 100%
    ),
    radial-gradient(
      58.44% 67.45% at 44.77% 53.73%,
      #1755f4 0%,
      rgba(28, 83, 224, 0) 100%
    );
  background-repeat: repeat-y;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background-fosco {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Fontes */

.titulo {
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 0.1em;
}

h1 {
  font-weight: 600;
  font-size: 1.8rem;
}

h2,
h3,
h4,
.subtitulo {
  font-weight: 500;
  font-size: 1.5rem;
}

.medium,
p {
  font-weight: 500;
  font-size: 1.35rem;
}

.smaller {
  font-size: 1rem;
}

