.App {
  text-align: center;
}

body {
  background-color: black;
  font-family: 'Dosis', sans-serif;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: radial-gradient(
      34.26% 64.41% at 115.34% 55.82%,
      #1755f4 0%,
      rgba(28, 83, 224, 0) 100%
    ),
    radial-gradient(
      31.74% 42.34% at 44.35% 44.42%,
      #31a8ff 0%,
      rgba(0, 22, 78, 0) 100%
    ),
    radial-gradient(
      58.44% 67.45% at 44.77% 53.73%,
      #1755f4 0%,
      rgba(28, 83, 224, 0) 100%
    );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Footer {
  
}

